@charset "utf-8";

@font-face {
  font-family: "dotum";
  src: url("../src/assets//fonts/dotum-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "DOS";
  src: url(../src/assets/fonts/ModernDOS8x14.ttf);
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline-style: none;
}
*::-webkit-scrollbar {
  display: none;
}
* {
  -ms-overflow-style: none;
}
* {
  scrollbar-width: none;
}
a {
  text-decoration: none;
  color: #000;
}

ul li {
  list-style: none;
}

img {
  display: block;
  vertical-align: middle;
}

html {
  height: auto;
  scrollbar-gutter: stable;
}

body {
  font-size: 16px;
  font-family: "dotum", sans-serif;
}
